@import "tailwindcss";

body {
  @apply bg-white text-black;
  font-family: 'Inter', sans-serif;
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply text-black;
  font-family: 'Inter', sans-serif;
} 

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
} */